@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jersey 25", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/backGround.gif) no-repeat center center/cover;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;

}

.todo-list {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 100px rgb(0, 0, 0, 0.5);
    border: 3px solid white;
    backdrop-filter: blur(10px);
}

.todo-list h2 {
    font-weight: 2rem;
}

.stat-container{
    padding: 15px 20px;
    border-radius: 10px;
    border: 2 px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.details {
    width: 100%;
}

.details h3 {
    color: white;
}

#progresBar {
    width: 100%;
    height: 7px;
    background: white;
    border-radius: 20px;
    position: relative;
    margin-top: 15px;

}

#progres {
    width: 0%;
    height: 100%;
    background: black;
    border-radius: 20px;
    transition: width 0.4s ease;
}

#numbers {
    display: flex;
     align-items: center;
     justify-content: center;
     width: 80px;
     height: 80px;
     background: black;
     border: 2px solid white;
     font-weight: bold;
     border-radius: 50%;
     font-size: 1.5rem;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input{
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rems;
    border: 1px solid white;
    outline: none;
    border-radius: 22px;
    background: transparent;
    color: black;
}

.input-area input::placeholder {
    color: white;
}

.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: white;
    font-size: 1.1rem;
    background: transparent;
    border: 1.6px solid white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background-color: greenyellow;
}

.todos-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    width: 100%;
}

#task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    transition: box-shadow 0.4s ease;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    /* width: 100%;
    min-width: 200px;
    gap: 5px; */
}

#task-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-list li .checkbox {
    min-width: 15px;
    height: 15px;
    border: 2px solid black;
    background: transparent;
    border-radius: 0;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

#task-list li.checkbox:checked {
    background: green;
    transform: scale(1.1);
}

#task-list li .checkbox:checked::before {
    content: '\2713';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: relative;
    background: green;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

#task-list  li span {
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

#task-list li.completed span {
    text-decoration: 2px line-through #000;
    color: #000;
}

.task-btn {
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.task-btn button {
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-btn button:hover {
    transform: scale(1.2);
}

.task-btn .edit-btn {
    background: #a7c7e1;
}

.task-btn .delete-btn {
    background: #ff1616;
}


@media (max-width: 600px) {
    .container {
        margin: 0 20px;
    }

    .todo-list {
        padding: 1.5rem;
        gap: 20px;
    }

    #numbers {
        width: 60px;
        height: 60px;
        font-size: 1rem;
    }

    .input-area input {
        font-size: 1rem;
    }

    #task-list  li {
        font-size: 1rem;
    }
}